@keyframes slide-up {
	from {
		top: 2em;
		opacity: 0;
	}
	to {
		top: 0em;
		opacity: 1;
	}
}

@keyframes slide-down {
	from {
		bottom: 2em;
		opacity: 0;
	}
	to {
		bottom: 0em;
		opacity: 1;
	}
}
