@media all and (max-width: 900px) {
  .experiences-bloc {
    flex-flow: column nowrap;
  }
}
@media all and (min-width: 900px) {
  .experiences-bloc {
    flex-flow: row nowrap;
  }
}

.experiences-bloc {
  display: flex;
  margin: 0 10%;
  
  .date {
    display: flex;
    flex-flow: column nowrap;
    min-width: 150px;

    span {
      padding: 10px 20px;
      background-color: $color-blue;
      text-align: center;
    }

    &::after {
      flex-grow: 1;
      content: "";
      width: 50%;
      border-right: 1px dashed $color-blue;
    }
  }
  
  .experience {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-bottom: 50px;

    .details {
      display: list-item;
      list-style-type: disc;
      margin-left: 15px;
    }
    details {
      summary {
        cursor: pointer;
      }

      p {
        font-size: 0.9rem;
        font-style: italic;
        color: $color-font-alt;
        margin: 0;
        padding: 5px 30px;
      }
    }
    .company-name {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .description {
      font-size: 1.1rem;
      font-style: italic;
    }
    ul {
      padding-left: 10px;
      margin: 0;
      list-style: none;
    }
    li {
      margin: 10px 0;
    }
    .badges {
      display: flex;
      flex-flow: row wrap;
      padding-left: 15px;
      
      .badge {
        font-size: 0.7rem;
        padding: 2px 5px;
        margin: 2px 5px;
        border: 1px solid $color-blue;
        color: $color-blue;
      }
    }
  }
}
